/*chem-mi-zanimaemsa*/



.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $primary-title-color;
    margin-bottom: 50px;
}

.chem-mi-zanimaemsa-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
    background: rgba(47, 48, 58, 0.8);
    padding-top: 27px;
    padding-bottom: 27px;
    position: absolute;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
}


.chem-mi-zanimaemsa .link:not(:last-child) {
    margin-right: 30px;
}
.otstup-chem-mi {
    padding-top: 47px;
    padding-bottom: 94px;
}