.icon-client {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 90px;

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}



.client-icon-logo {
    fill: #AFB1B8;
    transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client:hover .client-icon-logo,
.icon-client:focus .client-icon-logo {
    fill: $accent-color;
}
.client-icon:focus .icon-client {
    border-color: $accent-color;
}

.client-icon:focus .client-icon-logo {
    fill: $accent-color;
}

.klient-list .link:not(:last-child) {
    margin-right: 30px;
}