/*hero*/

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-white-color;
    margin-top: 185px;
    margin-bottom: 30px;
}

.hero-button {
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    cursor: pointer;
    border: none;
    margin-bottom: 185px;
}

.text-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;    
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    margin-left: auto;
    margin-right: auto;
}



.hero {
    background-image: linear-gradient(to bottom,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)), 
    url(../images/shapka.jpg);
    max-width: 1600px;
    height: 600px;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
}

.hero-container {
    width: 1200px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    animation-duration: 2000ms;
}


.zum {
    animation-name: zoomIn;
}