.container {
    display: flex;
    justify-content: space-evenly;
}

.div-container {
    width: 1200px;
    padding-top: 47px;
    padding-bottom: 47px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.otstup-container {
    padding-top: 94px;
    padding-bottom: 94px;
}
