
$primary-text-color: #757575;
$primary-title-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$main-black-color: #000000;
$footer-background-color: #2f303f;
$secondary-white-color: #f5f4fa;
$footer-links-color: rgba(255, 255, 255 , 0.6);
